/* your styles go here */
.spanError{
color: #ff0000;
}
.Errorborderclass{
border-color: #ff0000;
}

.logo-div-back{
	background: rgb(22 52 102) !important;
}

.login-div{
	margin-top: 30px;
    text-align: center;
}

.color-white{
	color: #e6e6e6;
}

.password_filed{
	display: none;
}

#TableData_length, #TableData_info, #TableData_filter, #TableData_paginate{
	color: #85888e;
}

#TableData_length select {
	color: #85888e;
}

#TableData_filter input {
	color: #85888e;
}

#TableData tr td{
	color: #85888e !important;
}

#TableData_length{
	margin-bottom: 20px;
}

